.color-switcher{
    position: fixed;
    right: 0;
    top: 30px;
    padding: 55px;
    width: 150px;
    border: 1px solid var(--bg-blue-50);
    background: var( --bg-white-100);
    z-index: 101;
    border-radius: 5px;
    transition: all 0.3s ease;
    transform: translateX(100%);
}

.color-switcher.open{
    transform: translateX(-25px);
}

.color-switcher .s-icon{
    position: absolute;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    background: var(--bg-white-100);
    color: var(--skin-color);
    right: 100%;
    border: 1px solid var(--skin-color);
    margin-right: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 50%;
}

.color-switcher .s-icon i{
    line-height: 40px;
}

.color-switcher .color-switcher-toggler{
    top: 0;
}

.color-switcher .s-icon .day-night{
    top: 55px;
}

.color-switcher h4{
    margin: 0 0 10px;
    color: var(--text-black-700);
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}

.color-switcher .colors{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.color-switcher .colors span{
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid green;
}

.color-switcher .color-1{
    background: #2318ec;
}

.color-switcher .color-2{
    background: #02ca34;
}
.color-switcher .color-3{
    background: red;
}
.color-switcher .color-4{
    background: rgb(162, 0, 255);;
}
.color-switcher .color-5{
    background: orange;
}